.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.headline {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.cta-btn {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #fff;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.cta-btn:hover {
  background-color: #333;
  color: #fff;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333;
}

.section-description {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  color: #666;
}

.section {
  padding: 4rem 0;
  background-color: #f8f8f8;
}

.section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: -1;
}

.section .container {
  position: relative;
  z-index: 1;
}

.home {
  padding: 80px 0;
}
.home p {
  text-align: justify;
  text-indent: 30px;
}
.card {
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-20px);
}
#carousel-item p{
  text-align: center;
}
.contact-info {
  display: flex;
  align-items: center;
}

.contact-info i {
  margin-right: 10px;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  color: #333;
}

form div {
  margin-bottom: 10px;
}

form label {
  display: block;
}

form input,
form textarea {
  width: 100%;
  padding: 5px;
}
